@import "tailwindcss";

@theme {
  --color-bgColor: #000000;
  --color-bodyText: #ffffff;
  --color-fameRed: #FC004E;
  --color-fameBlue: #00E7F9;
  --color-fameLightBlue: #10CBE0;
  --color-fameGray: #A9A9A9;
  --font-title: var(--font-urbanist);
  --font-content: var(--font-figtree);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.text-shadow-red {
  text-shadow: 1px 3px 2px #FC004E;
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
