@import "tailwindcss";

@theme {
  --color-bgColor: #000000;
  --color-bodyText: #ffffff;
  --color-fameRed: #FC004E;
  --color-fameBlue: #00E7F9;
  --color-fameLightBlue: #10CBE0;
  --color-fameGray: #A9A9A9;
  --font-title: var(--font-urbanist);
  --font-content: var(--font-figtree);
}

.text-shadow-red {
  text-shadow: 1px 3px 2px #FC004E;
}
